       
{% extends 'dashboard-layout.html' %}

{% block title %}Saravex Admin - Categories{% endblock %}

{% block content %}
            <!-- contents -->
            <div>
                <h2 class="text-2xl font-semibold mb-6">Add Category</h2>

                <form action="{%url 'add-category' %}" method="post" class="grid md:grid-cols-2 gap-4">
                    {% csrf_token %}
                    <div class="grid gap-1">
                        <label for="name">Category Name</label>
                        <input
                            type="text"
                            name="name"
                            id="name"
                            class="outline-none bg-slate-50 px-5 py-2 rounded-md"
                            placeholder="Category Name"
                        />
                    </div>

                    <div class="grid gap-1">
                        <label for="priority">Category Priority</label>
                        <input
                            type="number"
                            name="priority"
                            id="priority"
                            class="outline-none bg-slate-50 px-5 py-2 rounded-md"
                            placeholder="Category Priority"
                        />
                    </div>

                    <div>
                        <button
                            type="submit"
                            class="bg-slate-800 text-white px-5 py-2 rounded-lg flex"
                        >
                            Add
                        </button>
                    </div>
                </form>
            </div>
 
{% endblock %}